{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    LiFE Models Playground
{% endblock title %}

{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='lifemodelsplayground.css')}}" rel="stylesheet" />
{% endblock %}


{% block app_content %}
  <h2>LiFE - Models Playground</h2>
  <br/>
  <hr/>
  <form name="modelplaygroundform" action="/lifemodels/models_playground" method="POST" enctype="multipart/form-data">
    <div class="input-group col-md-6 modelSource" id="modelplaygroundselectdivid">
        <label for="myModelPlaygroundListSelect2">Model: </label><br />
        <select class="form-control" id="myModelPlaygroundListSelect2" name="modelId" style="width: 100%;"> 
            
        </select>
        <br>
        <br>
        <div id="modelPlaygroundTextArea" style="display: block;">
          <label for="myModelPlaygroundTextArea">Input: </label><br />
          <textarea class="form-control" id="myModelPlaygroundTextArea" rows="3" name="myModelPlaygroundTextArea" placeholder="Use newline for new text" required></textarea>
        </div>
        <input type="checkbox" id="myModelPlaygroundFileCheckbox" name="myModelPlaygroundFileCheckbox" onchange="uploadFile(this)"/>
        <label for="myModelPlaygroundFileCheckbox">Upload File (in CSV format) :</label><br>
        <div id="modelPlaygroundFile" style="display: none;">
          <input type="file" id="myModelPlaygroundFile" name="myModelPlaygroundFile" accept=".csv" disabled>
        </div>
    <!-- <br> -->
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='lifemodelsplayground.js')}}"></script>
<script type="text/javascript">modelsList({{ models | tojson | safe }});</script>
{% endblock %}
