__pycache__
.flaskenv
.vscode
venv
app/static/audio
download.zip
LiFE_Uploader_Downloader
app/lifeliftroot.xml
app/lifeUploadedFileContent.pkl
app/lifexlsxdf.tsv
data_format/lexicon_Testing_32.xlsx
app/testliftXML.tsv
app/lexemeEntry.json
path_test.py
nohup.out
questionnaireform.zip
app/lifeques/lifeUploadedFileContent.pkl
app/lifeques/lifexlsxdf.tsv
app/lifeques/static/audio
