__pycache__
venv
.vscode
LiFE.log
linksnotparse.txt
R-J.JSON
profiler
recovery
trainedModels
LiFE_Uploader_Downloader
nohup.out
download.zip
questionnaireform.zip
app/static/audio
app/lifeliftroot.xml
app/lifeUploadedFileContent.pkl
app/lifexlsxdf.tsv
app/testliftXML.tsv
app/lexemeEntry.json
app/lifeques/lifeUploadedFileContent.pkl
app/lifeques/lifexlsxdf.tsv
app/lifeques/static/audio
app/lifeques/lifequesdownload
app/lifeques/static/audio
app/audiowaveform
app/lifedownloader/downloads/D_testing_project_for_transcription_15_textgrids.zip
app/lifedownloader/downloads
app/jsonfiles/languages.txt
app/jsonfiles/languagesSet.txt
app/jsonfiles/tagSet.json
app/jsonfiles/tagSetMetaData.json
app/lifedata/download
app/lifedata/transcription/audiowaveform
app/lifemodels/model_prediction_download
app/lifeques/lifexlsxdf.tsv
.venv/
