[loggers]
keys=root,life

[handlers]
keys=rootStreamHandler,lifeFileHandler

[formatters]
keys=lifeFormatter

[logger_root]
level=INFO
handlers=rootStreamHandler

[logger_life]
level=DEBUG
handlers=lifeFileHandler
propagate=0
qualname=life

[handler_rootStreamHandler]
class=StreamHandler
level=DEBUG

[handler_lifeFileHandler]
class=FileHandler
level=DEBUG
formatter=lifeFormatter
args=('LiFE.log',)

[formatter_lifeFormatter]
format=[%(asctime)s] - logger: %(name)s - level: %(levelname)s - function: %(funcName)s - line: %(lineno)d
    %(message)s