
.box {
    float: right;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-left: 5px; 
  }

  .success {
    background-color: #5cb85c;
  }

  .warning {
    background-color: #f0ad4e;
  }

  .danger {
    background-color: #d9534f;
  }

  .completedtext {
      float: right;
  }
  