{% extends "lexemelinks.html" %}

{% block title %}
    Dictionary View
{% endblock title %}

{% block styles %}
{{super()}}
    <link href="{{url_for('.static', filename='dictionaryview.css')}}" rel="stylesheet">
{% endblock %}

{% block app_content %}
{% if projectName is defined %}
    <h4>
        Project Name : {{ projectName }}

    </h4><br>
{% endif %}
<div class="row">
  <div class="col-md-3 pull-right">
      <input id="myInput" class="form-control" type="text" placeholder="Search">
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-sm btn-danger multipledelete">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>+1
    </button>
    {% if 'downloadchecked' in shareinfo and shareinfo['downloadchecked'] == 'true' %}
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li class="json"><a href="#">JSON</a></li>
              <li class="csv"><a href="#">CSV</a></li>
              <li class="xlsx"><a href="#">XLSX</a></li>
              <li class="pdf"><a href="#">PDF</a></li>
              <li class="markdown"><a href="#">MARKDOWN</a></li>
              <li class="latex"><a href="#">LATEX</a></li>
              <li class="html"><a href="#">HTML</a></li>
              <li class="rdfturtle"><a href="#">RDF/Turtle</a></li>
              <li class="rdfxml"><a href="#">RDF/XML</a></li>
              <li class="rdfntriples"><a href="#">RDF/N-Triples</a></li>
              <li class="rdfn3"><a href="#">RDF/N3</a></li>
          </ul>
      </div>
    {% endif %}
  </div>
</div>
<br>

<!-- <div class="row"> -->
    <!-- <div class="col"> -->
      <span id="totalrecords">Total Records:&nbsp;{{ count }}</span>
      <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
            <!-- <th onclick="sortTable(0)">Id</th> -->
            <th><input type="checkbox" id="headcheckbox" onchange="checkAllLexeme(this)" name="chk[]" checked/>&nbsp;</th>
            {% for i in range(0, (fields|length)) %}
            <th onclick="sortTable({{i+1}})">{{fields[i]}}</th>
            {%endfor%}
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody id="myTableBody">    
            {% for data in sdata %}
            <tr>
                <td><input type="checkbox" id="lexemecheckbox" onchange="checkLexeme(this)" name="name1" checked /></td>
            {% for field in fields %}
                {% if data[field] is defined %}
                    {% if ((data[field]|length) <= 1) %}
                    <td id='{{field}}'>{{ data[field][0] }}</td>
                    {%else%}
                        <td id='{{field}}'>{{data[field][0]}}
                        {% for i in range(1, (data[field]|length)) %}
                            
                            <br/>
                            {{data[field][i]}}
                            {% if (data[field][i]|trim)|length %}
                            <sup>{{i}}</sup>
                            {%endif%}
                          
                        {%endfor%}
                        </td>
                    {%endif%}
                {% else %}
                    <td> - </td>    
                {% endif %}
                {%endfor%}
                <td><button type="button" class="btn btn-sm btn-primary lexemeview">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button></td>
                <td><button type="button" class="btn btn-sm btn-warning lexemeedit">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button></td>
                <td><button type="button" class="btn btn-sm btn-danger lexemedelete">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button></td>
            </tr>
            {% endfor %}
            
        </tbody>    
      </table>
    <!-- </div> -->
    <!-- <input type="button" value="Get Selected" onclick="GetSelected()" /> -->
<!-- </div> -->
  
 <!-- Share Project Modal -->
  <div class="modal fade" id="myShareProjectModal" tabindex="-1" role="dialog" aria-labelledby="myShareProjectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myShareProjectModalLabel">Share</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- <div class="col-xs-12">Select A State</div> -->
            <div class="col-xs-12">
              <div class="form-group">
                <select name="" id="shareProjectSelect"  multiple="multiple" style="width: 100%">
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary shareprojectwith">Share</button>
        </div>
      </div>
    </div>
  </div>

<!-- View Modal -->
<div class="modal fade" id="myViewModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header" style="padding:10px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding:50px 60px; word-wrap: break-word;">
                <h4 id="lexemeviewprojectname"> 
                </h4>
                <br> 
                   
                <div class="lexemeviewlexemeId"></div>
                <br>
                <div class="lexemeviewlexemeform"></div>
                <div class="lexemeviewenternewlexeme1"></div>
                <div class="lexemeviewsense"></div>
                <div class="lexemeviewvariant"></div>
                <div class="lexemeviewallomorph"></div>
                <div class="lexemeviewenternewlexeme2"></div>
                <div class="lexemeviewcustomfields"></div>
                <div class="lexemeviewcount"></div>
                
            </div>
        <div class="modal-footer">
            <button id="refreshmodal" type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Close</button>
        </div>    
        </div>
    </div>
</div>
{% endblock %}




{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='dictionaryview.js')}}"></script>
<script src="{{url_for('static', filename='search.js')}}"></script>
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeview.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeedit.js')}}"></script>
<script src="{{url_for('.static', filename='editlexeme.js')}}"></script>
<script src="{{url_for('.static', filename='lexemedelete.js')}}"></script>
{% endblock %}