/* body {
    margin: 20px;
  }
  .panel {
    margin-top: 20px;
  }
  #newcodebutton {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #formdisplay {
    margin-top: 20px;
  }
  #editbutton {
    margin-top: 10px;
    margin-bottom: 10px;
  } */