

    <html>
      <head>
          <meta name="viewport" content="width=device-width">
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
              <title>Add/ Update User Details </title>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
              <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
              <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
              <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
              <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

</head>


<body>
  

  <!-- <div class="container">
      <h3 align="center">DataTable Of User Deatils (Create, Read, Update)</h3>
      <br />
  </div> -->


<!--Siddharth Code Start-->


{% extends "links.html" %}



{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='dictionaryview.css')}}" rel="stylesheet">
{% endblock %}

{% block app_content %}
{% if projectName is defined %}
  <h4>
      Project Name : {{ projectName }}

  </h4><br>
{% endif %}


<!-- Add New Speaker button -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Add New Speaker</h4>
      <center>  <h6> Remaing Access Code : {{ faccess }}</h6> </center>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" action="{{url_for('karya_bp.add')}}">
        

        <div class="form-group">
          <label class="col-form-label">Name:</label>
          <input type="text" class="form-control" id="sname" name="sname" required >
        </div>
        <div class="form-group">
        <label for="sagegroup">Age Group: </label> <br> 
        <select name="sagegroup" id="sagegroup" required>
        <option selected value="">-- Choose Speaker's Age Group --</option>
            <option value="16-25">16-25</option>
            <option value="25-60">25-60</option>
            <option value="60+">60+</option>
                            </select>
          </div>

      <div class="form-group">                    
      <label for="sgender">Gender: </label>  <br>
      <select name="sgender" id="sgender" required>
      <option selected value="">-- Choose Speaker's Gender --</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Non-Binary">Non-Binary</option>
          <option value="Other">Other</option>
                          </select>
      </div>  

      <div class="form-group">
      <label for="educationalevel">Educational Level: </label> <br>
      <select name= "educationalevel" id= "educationalevel" required>
      <option selected value="">-- Speaker's Educational Level --</option>
          <option value="No schooling">No schooling</option>
          <option value="Upto 12ᵗʰ">Upto 12ᵗʰ</option>
          <option value="Graduate">Graduate</option>
          <option value="Post-Graduate">Post-Graduate</option>
          <option value="Above PG">Above PG</option>
                          </select>
      </div>
     

      <div class="form-group">
          <label for="moe12">Medium Of Education (upto 12ᵗʰ): </label><br>                           
          <input type="checkbox" onClick="moe(this)" /> Select All<br/>
          <input type="checkbox" name="moe12" value="English"> English<br/>
          <input type="checkbox" name="moe12" value="Native Language">Native Language<br/>
          <input type="checkbox" name="moe12" value="Rgional Language">Regional Language<br/>
          <input type="checkbox" name="moe12" value="Other">Other<br/>
      </div> 
      
      
      
      
      
      
      <div class="form-group">
          <label for="moea12">Medium Of Education (After 12ᵗʰ): </label><br>                           
          <input type="checkbox" onClick="moea(this)" /> Select All<br/>
          <input type="checkbox" name="moea12" value="English"> English<br/>
          <input type="checkbox" name="moea12" value="Native Language">Native Language<br/>
          <input type="checkbox" name="moea12" value="Rgional Language">Regional Language<br/>
          <input type="checkbox" name="moea12" value="Other">Other<br/>
      </div>                      
                                                          

      <div class="form-group">
          <label for="sols">Other Languages Speaker Could Speak: </label><br>                           
          <input type="checkbox" onClick="olscs(this)" /> Select All<br/>
          <input type="checkbox" name="sols" value="Assamese">Assamese<br/>
          <input type="checkbox" name="sols" value="Bengali">Bengali<br/>
          <input type="checkbox" name="sols" value="Bodo">Bodo<br/>
          <input type="checkbox" name="sols" value="Dogri">Dogri<br/>
          <input type="checkbox" name="sols" value="Gujarati">Gujarati<br/>
          <input type="checkbox" name="sols" value="Hindi">Hindi<br/>
          <input type="checkbox" name="sols" value="Kannada">Kannada<br/>
          <input type="checkbox" name="sols" value="Kashmiri">Kashmiri<br/>
          <input type="checkbox" name="sols" value="Konkani">Konkani<br/>
          <input type="checkbox" name="sols" value="Malayalam">Malayalam<br/>
          <input type="checkbox" name="sols" value="Manipuri">Manipuri<br/>
          <input type="checkbox" name="sols" value="Marathi">Marathi<br/>
          <input type="checkbox" name="sols" value="Maithili">Maithili<br/>
          <input type="checkbox" name="sols" value="Nepali">Nepali<br/>
          <input type="checkbox" name="sols" value="Oriya">Oriya<br/>
          <input type="checkbox" name="sols" value="Punjabi">Punjabi<br/>
          <input type="checkbox" name="sols" value="Sanskrit">Sanskrit<br/>
          <input type="checkbox" name="sols" value="Santhali">Santhali<br/>
          <input type="checkbox" name="sols" value="Sindhi">Sindhi<br/>
          <input type="checkbox" name="sols" value="Tamil">Tamil<br/>
          <input type="checkbox" name="sols" value="Telgu">Telgu<br/>
          <input type="checkbox" name="sols" value="Urdu">Urdu<br/>
      </div> 
                              
      <div class="form-group">
        <label class="col-form-label">Place Of Recording:</label>
        <input type="text" class="form-control" id="por" name="por" required >
      </div>                                                 

      <div class="form-group">   
      <label for="toc">Type Of City: </label> <br>
          <select name="toc" id="toc" required>
          <option selected value="">-- On the basis of "Place Of Recording" --</option>
              <option value="Village">Village</option>
              <option value="Town">Town</option>
              <option value="City">City</option>
                              </select>
      </div>                   
                              


      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <input type="submit" value="Submit"> <br><br>
      </form>
    </div>
  </div>
</div>
</div>


<!-- 
<div> -->
  <input id="myInput" type="text" placeholder="Search">
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Download Lexicon
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li class="json"><a href="#">JSON</a></li>
          <li class="csv"><a href="#">CSV</a></li>
          <li class="xlsx"><a href="#">XLSX</a></li>
          <li class="pdf"><a href="#">PDF</a></li>
          <li class="markdown"><a href="#">MARKDOWN</a></li>
          <li class="latex"><a href="#">LATEX</a></li>
          <li class="html"><a href="#">HTML</a></li>
          <!-- <li class="ods"><a href="#">ODS</a></li> -->
          <li class="rdfturtle"><a href="#">RDF/Turtle</a></li>
          <li class="rdfxml"><a href="#">RDF/XML</a></li>
          <li class="rdfntriples"><a href="#">RDF/N-Triples</a></li>
          <li class="rdfn3"><a href="#">RDF/N3</a></li>
          <!-- <li><a href="{{url_for('download')}}">.docx</a></li>
          <li><a href="{{url_for('download')}}">.odt</a></li>
          <li><a href="{{url_for('download')}}">.pdf</a></li>
          <li><a href="{{url_for('download')}}">.xlxs</a></li>
          <li><a href="{{url_for('download')}}">.ods</a></li> -->
      </ul>
  </div>
<br>

      <div class="panel panel-default">
          <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Get Access Code For New User
          </button>
          </div>

<br>
<div class="row">
  <div class="col">
    <p id="totalrecords">Total Records:&nbsp;{{ count }}</p>
    
    <table class="table table-striped " id="myTable">
      <thead>
          <tr>
          <!-- <th onclick="sortTable(0)">id</th> -->
          <th><input type="checkbox" id="headcheckbox" onchange="checkAllLexeme(this)" name="chk[]" checked/>&nbsp;</th>
          <th onclick="sortTable(1)">Access Code</th>
          <th onclick="sortTable(2)">Name</th>
          <th onclick="sortTable(3)">Age Group</th>
          <th onclick="sortTable(4)">Gender</th>
          <th>View</th>
          <th>Edit</th>

          </tr>
      </thead>
      <tbody id="myTableBody"> 
           {% for row in data %}
               <tr>
               <td><input type="checkbox" id="lexemecheckbox" onchange="checkLexeme(this)" name="name1" checked/></td> 
                  
                  {% for item in row %}
                  <td> {{item}} </td>     
                  {% endfor %}
                  <td><button type="button" class="btn btn-primary lexemeview">View</button></td>
                  <td><button type="button" class="btn btn-warning lexemeedit">Edit</button></td>
                  </tr>
                  {% endfor %}
            
              
          </tbody>
          </table>
      {% endblock %}
  </div>







<!-- pop-up page to add speaker -->



<!-- Add New Speaker button -->
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Add New Speaker</h4>
      <center>  <h6> Remaing Access Code : {{ faccess }}</h6> </center>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" action="{{url_for('karya_bp.add')}}">
        

        <div class="form-group">
          <label class="col-form-label">Name:</label>
          <input type="text" class="form-control" id="sname" name="sname" required >
        </div>
        <div class="form-group">
        <label for="sagegroup">Age Group: </label> <br> 
        <select name="sagegroup" id="sagegroup" required>
        <option selected value="">-- Choose Speaker's Age Group --</option>
            <option value="16-25">16-25</option>
            <option value="25-60">25-60</option>
            <option value="60+">60+</option>
                            </select>
          </div>

      <div class="form-group">                    
      <label for="sgender">Gender: </label>  <br>
      <select name="sgender" id="sgender" required>
      <option selected value="">-- Choose Speaker's Gender --</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Non-Binary">Non-Binary</option>
          <option value="Other">Other</option>
                          </select>
      </div>  

      <div class="form-group">
      <label for="educationalevel">Educational Level: </label> <br>
      <select name= "educationalevel" id= "educationalevel" required>
      <option selected value="">-- Speaker's Educational Level --</option>
          <option value="No schooling">No schooling</option>
          <option value="Upto 12ᵗʰ">Upto 12ᵗʰ</option>
          <option value="Graduate">Graduate</option>
          <option value="Post-Graduate">Post-Graduate</option>
          <option value="Above PG">Above PG</option>
                          </select>
      </div>
     

      <div class="form-group">
          <label for="moe12">Medium Of Education (upto 12ᵗʰ): </label><br>                           
          <input type="checkbox" onClick="moe(this)" /> Select All<br/>
          <input type="checkbox" name="moe12" value="English"> English<br/>
          <input type="checkbox" name="moe12" value="Native Language">Native Language<br/>
          <input type="checkbox" name="moe12" value="Rgional Language">Regional Language<br/>
          <input type="checkbox" name="moe12" value="Other">Other<br/>
      </div> 
      
      
      
      
      
      
      <div class="form-group">
          <label for="moea12">Medium Of Education (After 12ᵗʰ): </label><br>                           
          <input type="checkbox" onClick="moea(this)" /> Select All<br/>
          <input type="checkbox" name="moea12" value="English"> English<br/>
          <input type="checkbox" name="moea12" value="Native Language">Native Language<br/>
          <input type="checkbox" name="moea12" value="Rgional Language">Regional Language<br/>
          <input type="checkbox" name="moea12" value="Other">Other<br/>
      </div>                      
                                                          

      <div class="form-group">
          <label for="sols">Other Languages Speaker Could Speak: </label><br>                           
          <input type="checkbox" onClick="olscs(this)" /> Select All<br/>
          <input type="checkbox" name="sols" value="Assamese">Assamese<br/>
          <input type="checkbox" name="sols" value="Bengali">Bengali<br/>
          <input type="checkbox" name="sols" value="Bodo">Bodo<br/>
          <input type="checkbox" name="sols" value="Dogri">Dogri<br/>
          <input type="checkbox" name="sols" value="Gujarati">Gujarati<br/>
          <input type="checkbox" name="sols" value="Hindi">Hindi<br/>
          <input type="checkbox" name="sols" value="Kannada">Kannada<br/>
          <input type="checkbox" name="sols" value="Kashmiri">Kashmiri<br/>
          <input type="checkbox" name="sols" value="Konkani">Konkani<br/>
          <input type="checkbox" name="sols" value="Malayalam">Malayalam<br/>
          <input type="checkbox" name="sols" value="Manipuri">Manipuri<br/>
          <input type="checkbox" name="sols" value="Marathi">Marathi<br/>
          <input type="checkbox" name="sols" value="Maithili">Maithili<br/>
          <input type="checkbox" name="sols" value="Nepali">Nepali<br/>
          <input type="checkbox" name="sols" value="Oriya">Oriya<br/>
          <input type="checkbox" name="sols" value="Punjabi">Punjabi<br/>
          <input type="checkbox" name="sols" value="Sanskrit">Sanskrit<br/>
          <input type="checkbox" name="sols" value="Santhali">Santhali<br/>
          <input type="checkbox" name="sols" value="Sindhi">Sindhi<br/>
          <input type="checkbox" name="sols" value="Tamil">Tamil<br/>
          <input type="checkbox" name="sols" value="Telgu">Telgu<br/>
          <input type="checkbox" name="sols" value="Urdu">Urdu<br/>
      </div> 
                              
      <div class="form-group">
        <label class="col-form-label">Place Of Recording:</label>
        <input type="text" class="form-control" id="por" name="por" required >
      </div>                                                 

      <div class="form-group">   
      <label for="toc">Type Of City: </label> <br>
          <select name="toc" id="toc" required>
          <option selected value="">-- On the basis of "Place Of Recording" --</option>
              <option value="Village">Village</option>
              <option value="Town">Town</option>
              <option value="City">City</option>
                              </select>
      </div>                   
                              


      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <input type="submit" value="Submit"> <br><br>
      </form>
    </div>
  </div>
</div>
</div> -->
      </div>
      <br />
      <br />


<script>
  function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("data");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          } else {
          tr[i].style.display = "none";
          }
      }
      }
  };


  function moea(source) {
checkboxes = document.getElementsByName('moea12');
for(var i=0, n=checkboxes.length;i<n;i++) {
  checkboxes[i].checked = source.checked;
}
};

function moe(source) {
checkboxes = document.getElementsByName('moe12');
for(var i=0, n=checkboxes.length;i<n;i++) {
  checkboxes[i].checked = source.checked;
}
};
function olscs(source) {
checkboxes = document.getElementsByName('sols');
for(var i=0, n=checkboxes.length;i<n;i++) {
  checkboxes[i].checked = source.checked;
}
}

  </script>       


  </body>
  {% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='dictionaryview.js')}}"></script>
<script src="{{url_for('.static', filename='search.js')}}"></script>
<script src="{{url_for('.static', filename='sorttable.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeview.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeedit.js')}}"></script>
<script src="{{url_for('.static', filename='editlexeme.js')}}"></script>
<script src="{{url_for('.static', filename='lexemedelete.js')}}"></script>
<script src="{{url_for('.static', filename='shareproject.js')}}"></script>
<script src="{{url_for('.static', filename='shareprojectwith.js')}}"></script>
{% endblock %}
</html>


