<!DOCTYPE html>
<html>


<body>

  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Save form Data in a Text File using JavaScript</title>
<h1>LiFe</h1>


<!--For Styling - from Sid-->
<button type="button" class="btn btn-lg btn-info pull-right assignkaryaaccesscodebtn" data-toggle="modal" data-target="#assignKaryaAccessCodeModal">
  Assign Karya Access Code
</button>
<!--End for styling-->


<h2>Fetch access code or upload access code file</h2>
  <input type="button" value="Fetch/upload access code" onclick="window.location.href='{{url_for('karya_bp.uploadfile')}}';"> <br><br>




<h2>User </h2> 

     <input type="button" value="Get Access Code" onclick="window.location.href='{{url_for('karya_bp.assignaccesscodeform')}}';">
  
 
<h2>TASK-3</h2>

<h1>Manage Access Code</h1>

<form>
  <input type="button" value="Show/Update Access Code" onclick="msg()">
</form>



<!-- Assign Karya Access Code Modal - Sid -->
<div class="modal fade" id="assignKaryaAccessCodeModal" tabindex="-1" role="dialog" aria-labelledby="assignKaryaAccessCodeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="assignKaryaAccessCodeModalLabel">Project Name: {{ activeproject }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-xs-12">Select A State</div> -->
          <div class="col-xs-12">
            <form action="{{ url_for('dictionaryview') }}" method="POST" enctype="multipart/form-data">
              
              <div id="speakerdetail" class="speakerdetail"></div>
              <input class="btn btn-primary" id="submit" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary savespeakerdata">Save Speaker Data</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--Assign Modal End - Sid-->


<script src="{{url_for('.static', filename='assignkaryaaccesscode.js')}}"></script>

<script>
function msg() {
  alert("Access code");
}

function from() {window.open('file:///home/kmi/Documents/templates/dummy_LiFE.html')}
</script>


    
    <a href="anotherpage.html">
      <button>My Button</button>
    </a>
</body>
</html>




