<!DOCTYPE html>
<html>


<body>

  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Save form Data in a Text File using JavaScript</title>
<h1>LiFe</h1>




<h2>Fetch access code or upload access code file</h2>
  <input type="button" value="Fetch/upload access code" onclick="window.location.href='{{url_for('karya_bp.uploadfile')}}';"> <br><br>



 

<h2>Manage Access Code</h2>
<input type="button" value="Manage Access Code" onclick="window.location.href='{{url_for('karya_bp.homespeaker')}}'; window"> <br><br>



<h2>Fetch Audio File</h2>
<input type="button" value="Fetch/upload Audio" onclick="window.location.href='{{url_for('karya_bp.fetch_karya_audio')}}'; window"> <br><br>

</body>
</html>




