<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

  <style>
  
    h1 {text-align: center;}

    input[type=button]:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    div {
      border-radius: 20px;
      background-color: rgba(247, 235, 220, 0.253);
      padding: 1px;
    }
    </style>
  
</head>

  
<body>
  <script>
    $(document).ready(function() {
                $('#getotpid').click(function() {
                  // alert('Clicked')
                  var acode = document.getElementById("piaccesscode").value;
                  var mob = document.getElementById("pimobilenumber").value;
                  console.log(acode)
                  console.log(mob)
                  $.getJSON("{{url_for('karya_bp.fetch_karya_otp')}}", {
                    acode:String(acode), mob:String(mob)
                    }, function(data) {
                      console.log(data)
                      // alert('DOne!')
                      console.log(document.getElementById("getotpid").hidden);
                      document.getElementById("getotpid").hidden=true;
                      document.getElementById("fetchaudioid").disabled=false;
                      document.getElementById("karyaotp").hidden=false;
                    });
                    return false;
                });
              })

  </script>
  <div>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Save form Data in a Text File using JavaScript</title>
<h1>Karya-LiFe Integration</h1>

<br><br><br><br>


<h2>Fetch access code or upload access code file</h2>
  <input type="button" class="btn btn-lg btn-primary create" value="Fetch/upload access code" onclick="window.location.href='{{url_for('karya_bp.uploadfile')}}';"> <br><br>
  <br><br><hr><br><br><br>


<h2>Manage Access Code</h2>
<input type="button" value="Manage Access Code" class="btn btn-lg btn-primary create" onclick="window.location.href='{{url_for('karya_bp.homespeaker')}}'; window"> <br><br>
<br><br><hr><br><br><br>

<h2>Fetch Audio File</h2>

<form name="fetchdata" method="POST" action="{{url_for('karya_bp.fetch_karya_audio')}}">

<input type="text" name="access_code" id="piaccesscode" />
<input type="number" name = "mobile_number" id="pimobilenumber" />

<input type="button" class="btn btn-primary create" id="getotpid" value="Get OTP"> <br>

<label for="karyaotp"><h3>Enter OTP</h3></label>
<input type = "text" name = "karya_otp" id="karyaotp" hidden/>

<input type="submit" class="btn btn-primary create" id="fetchaudioid" value="Fetch Audio"> <br>

</form>

<br/>
<hr>
<form action="{{ url_for('karya_bp.fetch_karya_audio') }}" method="POST" enctype="multipart/form-data">

  <!-- <h2>Fetch access code with metadata</h2>
      <a href="register_user.html">
        <button>Fetch access code</button>
      </a>
       -->
  <h2>Upload Karya Recordings</h3>        
  <h4>Click on the "Choose File" button to upload a zip file*:</h4>
    <input type="file" id="accesscodefile" name="accesscodefile"><br>
  
    <input class="btn btn-lg btn-primary create" id="submit" type="submit" value="Submit" >
  </form>

</div>

</body>

</html>




