
{% extends "karyaextlinks.html" %}

{% block title %}
  Karya Extension
{% endblock title %}

<!-- <body> -->




{% block styles %}
{{super()}}
  <link href="{{url_for('.static', filename='home_insert.css')}}" rel="stylesheet" />
{% endblock %}
  
{% block app_content %}
  {% if projectName is defined %}
    <h4>
        Project Name : {{ projectName }}
    </h4>
  {% endif %}

  <div>

    <div id="uploadmanage">
      <br>
      {% if  shareinfo['sharemode']|int >= 4 %}
        <input type="button" class="btn btn-lg btn-danger" value="Fetch/Upload Access Code" onclick="window.location.href='{{url_for('karya_bp.uploadfile')}}';">
      {% endif %}

      <br><br>
      {% if  shareinfo['sharemode']|int >= 2 %}
        <input class="btn btn-lg btn-success" type="button" value="Manage Access Code" onclick="window.location.href='{{url_for('karya_bp.homespeaker')}}'; window">
      {% endif %}
      <br>
      <hr>
    </div>
    
    <div class="row karyaaudiodata">
      {% if  shareinfo['sharemode']|int >= 3 %}
        <div class="col-md-6 fetchkaryarecording">
          <h3><b>Fetch Karya Recordings</b></h3>
          <form name="fetchdata" method="POST" action="{{url_for('karya_bp.fetch_karya_audio')}}">
            <!-- <label for="piaccesscode">Access Code: </label> -->
            <!-- <input type="text" name="access_code" id="piaccesscode" placeholder="Enter Access Code"/> -->
            <br>
            <style>
              .dropdown-container {
                  display: flex;
                  align-items: center;
              }
          
              .dropdown-container select {
                  width: 200px;
                  height: 30px; /* Adjust the height to your desired value */
                  padding: 5px;
                  border-radius: 5px;
                  margin-left: 10px;
                  background-color: #f1f1f1fb;
              }
          </style>
          <p>To Fetch Karya Recoding Select The Task To Get Access Code(s) : </p>

          <form id="accessCodeForm">

            <div class="dropdown-container">
              <h5 style="font-weight: bold; margin-right: 10px;">Recording Type:</h5>
              <select id="additionalDropdown" name="additionalDropdown" required>
                <option value="">Select an option</option>
                {% for option in dropdown_list %}
                  <option value="{{ option.value }}">{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
            
          <div class="dropdown-container">
            <label for="transcriptionDropdown" id="transcriptionLabel" style="display: none;">Access Code:</label>
            <select id="transcriptionDropdown"  name="transcriptionDropdown"style="display: none;">
              {% for item in transcription_access_code_list %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="dropdown-container">
            <label for="verificationDropdown" id="verificationLabel" style="display: none;">Access Code:</label>
            <select id="verificationDropdown" name = "verificationDropdown" style="display: none;">
              {% for item in verification_access_code_list %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>

        
            <br>
            <div id="idforworker"></div>
            <br>
            <label for="pimobilenumber">Mobile Number:</label>
            <input type="text" name="mobile_number" id="pimobilenumber" placeholder="Enter Mobile Number" required>
            <br>
            <input type="button" class="btn btn-info" id="getotpid" value="Get OTP">
            <br>
            <br>
            <label for="karyaotp">Enter OTP:</label>
            <input type="text" name="karya_otp" id="karyaotp" hidden required>
            <br>
            <br>
            <input type="submit" class="btn btn-primary" id="fetchaudioid" value="Fetch Audio">
            <br>
             </form>
   



          
        </div> 
      {% endif %}

      <!-- <br><br><br><br> -->
      {% if  shareinfo['sharemode']|int >= 3 %}
        <div class="col-md-6 uploadkaryarecording pull-right">
          <h3><b>Upload Karya Recordings</b></h3>
          <form action="{{ url_for('karya_bp.fetch_karya_audio_zip') }}" method="POST" enctype="multipart/form-data">

          <!-- <h2>Fetch access code with metadata</h2>
              <a href="register_user.html">
                <button>Fetch access code</button>
              </a>
              -->
            <br>
              <p>Click on the "Choose File" button to upload a zip file*:<p>
              <input type="file" id="accesscodefile" name="accesscodefile">
              <br>
          
            <input class="btn btn-primary" id="submit" type="submit" value="Submit" >
          </form>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- <br><br><br><br> -->
{% endblock %}
<!-- </body> -->

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='home_insert.js')}}"></script>
<script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
<script src="{{url_for('.static', filename='fetchaccesscodelist.js')}}"></script>
<script type="text/javascript">fetchAccessCodeList({{ fetchaccesscodelist | tojson | safe }});</script>
<!-- <script type="text/javascript">fetchTransAccessCodeList({{ transcription_access_code_list | tojson | safe }});</script> -->
<!-- <script type="text/javascript">fetchVerAccessCodeList({{ verification_access_code_list | tojson | safe }});</script> -->
<script type="text/javascript">karyaSpeakerIdsList({{ karya_speaker_ids | tojson | safe }});</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var additionalDropdown = document.getElementById('additionalDropdown');
    var transcriptionDropdown = document.getElementById('transcriptionDropdown');
    var verificationDropdown = document.getElementById('verificationDropdown');
    var transcriptionLabel = document.getElementById('transcriptionLabel');
    var verificationLabel = document.getElementById('verificationLabel');

    additionalDropdown.addEventListener('change', function() {
      var selectedOption = additionalDropdown.value;

      if (selectedOption === "newVerification" || selectedOption === "completedVerification") {
        verificationDropdown.style.display = "block";
        verificationLabel.style.display = "block";
        transcriptionDropdown.style.display = "none";
        transcriptionLabel.style.display = "none";
      } else if (selectedOption === "newTranscription") {
        verificationDropdown.style.display = "none";
        verificationLabel.style.display = "none";
        transcriptionDropdown.style.display = "block";
        transcriptionLabel.style.display = "block";
      } else {
        verificationDropdown.style.display = "none";
        verificationLabel.style.display = "none";
        transcriptionDropdown.style.display = "none";
        transcriptionLabel.style.display = "none";
      }
    });
  });
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#getotpid').click(function() {
      var selectedValue = $('#additionalDropdown').val();
      var acode = null;

      if (selectedValue === "newVerification" || selectedValue === "completedVerification") {
        // Code for Verification Access Code selected
        var verAccessCodeSelect = document.getElementById("verificationDropdown");
        acode = verAccessCodeSelect.value;
      } else if (selectedValue === "newTranscription") {
        // Code for Transcription Access Code selected
        var transAccessCodeSelect = document.getElementById("transcriptionDropdown");
        acode = transAccessCodeSelect.value;
      }

      var mob = $('#pimobilenumber').val();

      console.log("Selected Value:", selectedValue);
      console.log("Access Code:", acode);
      console.log("Mobile Number:", mob);

      $.getJSON("{{url_for('karya_bp.fetch_karya_otp')}}", {
        acode: String(acode),
        mob: String(mob)
      })
      .done(function(data) {
        console.log("API Response:", data);
        $('#getotpid').hide();
        $('#fetchaudioid').prop('disabled', false);
        $('#karyaotp').prop('hidden', false);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("API Request Failed:", textStatus, errorThrown);
        // Handle the failure scenario here
      });

      return false;
    });
  });
</script>


{% endblock %} 
