{% extends "base.html" %}

{% block extra_nav %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('karya_bp.karya_new_home') }}">Karya Extension New</a></li>
        <!-- <li><a href="{{ url_for('easyAnno.imageAnno') }}">imageAnno</a></li>
        <li><a href="{{ url_for('easyAnno.textAnno') }}">textAnno</a></li> -->
        <li><a href="{{ url_for('enternewsentences') }}">Audio</a></li>
        <li><a href="{{ url_for('karya_bp.karyaaudiobrowse') }}">Karya Browse</a></li>
    </ul>      
{% endblock %}