{% extends "karyav5links.html" %}

{% block title %}
  Karya Extension
{% endblock title %}

{% block styles %}
  {{super()}}
  <link href="{{url_for('.static', filename='home_insert.css')}}" rel="stylesheet" />
{% endblock %}
  
{% block app_content %}
  {% if activeprojectname is defined %}
    <h4>
      Project Name: {{ activeprojectname }}
    </h4>
  {% endif %}



  <h4>Access Code For </h4>
  <div class="form-group">
    <label for="idaccesscodefor">Access Code For:</label><br>
    <select class="accesscodefor" id="idaccesscodefor" name="accesscodefor" style="width:55%" required></select><br>
  </div>

  <div class="form-group">
    <label for="idtask">Task :</label><br>
    <select class="task" id="idtask" name="task"  style="width:55%" required></select><br>
  </div>

    <div class="form-group">
      <h4>Speaker/Worker Metadata</h4>




      <label class="col-form-label">Name:</label>
      <input type="text" class="form-control" id="idname" name="sname" placeholder="--Speaker Name--" style="width:55%" value="" required>
    </div>

    <div class="form-group">
      <label for="sagegroup">Age Group: </label> <br> 
      <select class="age" id="idage" name="sagegroup" style="width:55%" required>
      </select><br>
    </div>

    <div id="idspeakerdetailsdiv" style="display: none;">
      <div class="form-group">                    
        <label for="sgender">Gender: </label>  <br>
        <select class="gender" id="idgender" name="sgender" style="width:55%">
        </select><br>
      </div>  

      <div class="form-group">
        <label for="educationalevel">Educational Level: </label> <br>
        <select class="educationlvl" id="idelevel" name="educationalevel" style="width:55%">
        </select><br>
      </div>

      <div class="form-group">
        <label for="moe12">Medium Of Education (upto 12ᵗʰ): </label><br>                           
        <select class="educationmediumupto12" id="idmediumpre" name="moe12" multiple="multiple" style="width:55%">
        </select><br>
      </div> 

      <div class="form-group">
        <label for="moea12">Medium Of Education (After 12ᵗʰ): </label><br>                           
        <select class="educationmediumafter12" id="idmediumpost" name="moea12" multiple="multiple" style="width:55%">
        </select><br>
      </div> 

      <div class="form-group">
        <label for="sols">Other Languages Speaker Could Speak: </label><br>                           
        <select class="speakerspeaklanguage" id="idotherlangs" name="sols" multiple="multiple" style="width:55%">
        </select><br>
      </div> 

      <div class="form-group">
        <label class="col-form-label">Place Of Recording:</label><br>
        <input type="text" class="form-control" id="idplace" name="por" placeholder="--Place Of Recording--" style="width:55%;">
      </div>

      <div class="form-group">   
        <label for="toc">Type Of Place: </label> <br>
        <select class="typeofcity" id="idptype" name="toc" style="width:55%">
        </select><br>
      </div>
    </div>

    <button type="button" id="closebutton" class="btn btn-primary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-danger" value="Submit"><br><br>
  </form>

<br>
<div class="row">
  <div class="col">
    <p id="totalrecords"><strong>Total Records:</strong>&nbsp;{{ count }}</p>
    <input id="myInput" type="text" placeholder="Search">
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th><input type="checkbox" id="headcheckbox" onchange="checkAllLexeme(this)" name="chk[]" checked/>&nbsp;</th>
          <th onclick="sortTable(1)">Access Code</th>
          <th onclick="sortTable(2)">Speaker ID</th>
          <th onclick="sortTable(3)">Name</th>
          <th onclick="sortTable(4)">Age Group</th>
          <th onclick="sortTable(5)">Gender</th>
          <th onclick="sortTable(6)">Assigned By</th>
          <th onclick="sortTable(7)">Assigned For</th>
          <th onclick="sortTable(8)">Task</th>
          <th onclick="sortTable(9)">Domain</th>
          <th onclick="sortTable(10)">Elicitation Method</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody id="myTableBody">
        {% for item in data_table %}
          <tr>
            <td><input type="checkbox" id="lexemecheckbox" onchange="checkLexeme(this)" name="name1" checked/></td>   
            <td>{{item['karyaaccesscode']}}</td>
            <td>{{item['lifespeakerid']}}</td>  
            <td>{{item['current']['workerMetadata']['name']}}</td>
            <td>{{item['current']['workerMetadata']['agegroup']}}</td>
            <td>{{item['current']['workerMetadata']['gender']}}</td>
            <td><strong>{{item['assignedBy']}}</strong></td> 
            <td>{{item['fetchData']}}</td> 
            <td>{{item['task']}}</td> 
            <td>{{item['domain']}}</td>
            <td>{{item['elicitationmethod']}}</td>
            <td><button type="button" class="btn btn-primary lexemeview" id="{{item['karyaaccesscode']}}" data-toggle="modal" data-target="#exampleModal">View</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='search.js')}}"></script>
  <script src="{{url_for('.static', filename='sorttable.js')}}"></script>
  <script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
{% endblock %}
