{% extends "karyav5links_n_old_links.html" %}

{% block title %}
Audio Browse
{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{url_for('.static', filename='karyaaudiobrowse.css')}}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block app_content %}
{% if projectName is defined %}
<h4>
    Project Name: {{ projectName }}
</h4>
<br>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div>
            <label for="speakerId">Select Speaker:</label>
            <select name="speakerId" id="speakerId" onchange="updateTable()" style="width: 70%;">
                <option value="">--Select Speaker ID--</option>
                {% for speakerId in data %}
                    <option value="{{ speakerId }}">{{ speakerId }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6 text-right"> <!-- Align the content to the right -->
        <button id="deleteSelectedBtn" class="btn btn-danger" onclick="deleteSelected()">Delete Selected</button>
        <span style="margin-right: 10px;"></span> <!-- Add space between buttons -->
        <!-- <button id="rewokeSelectedBtn" class="btn btn-success" onclick="rewokeSelected()">Rewoke Audio</button> -->
    </div>
</div>

<table id="audioTable" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectAllCheckbox" onchange="toggleSelectAll()">
                Select All
            </th>
            <th>Speaker ID</th>
            <th>Audio ID</th>
            <th>Audio Filename</th>
            <th>Karya Fetched Audio ID</th>
            <th>Access Code</th>
            <th>Audio Playback</th>
        </tr>
    </thead>
    <tbody>
        {% for speakerId, audioList in data.items() %}
            {% for audioData in audioList %}
                <tr class="{{ speakerId }}">
                    <td><input type="checkbox" id="checkbox_{{ audioData.audioId }}" name="selectedRows" value="{{ audioData.audioId }}"></td>
                    <td>{{ audioData.speakerId }}</td>
                    <td>{{ audioData.audioId }}</td>
                    <td>{{ audioData.audioFilename }}</td>
                    <td>{{ audioData.karyaInfo.karyaFetchedAudioId }}</td>
                    <td>{{ audioData.accesscode }}</td>
                    <td>
                        <audio controls controlsList="nodownload" onclick="playAudio(this)">
                          <source src="data:audio/x-wav;base64,{{ audioData.audio_data_in_bytes }}" type="audio/wav">
                          Your browser does not support the audio element.
                        </audio>
                      </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#audioTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 30],
            "language": {
                "lengthMenu": 'Show Entries: _MENU_'
            }
        });

        $(".dataTables_length label").css("white-space", "nowrap");

        $('#speakerId').on('change', updateTable);
    });

    function updateTable() {
        var selectedSpeakerId = $('#speakerId').val();
        var table = $('#audioTable').DataTable();

        // Clear the table to re-add filtered data
        table.clear();

        // Add rows that match the selected speaker ID
        if (selectedSpeakerId) {
            var rowsToAdd = [];
            {% for speakerId, audioList in data.items() %}
                if (selectedSpeakerId === "{{ speakerId }}") {
                    {% for audioData in audioList %}
                        rowsToAdd.push([
                            `<input type="checkbox" id="checkbox_{{ audioData.audioId }}" name="selectedRows" value="{{ audioData.audioId }}">`,
                            "{{ audioData.speakerId }}",
                            "{{ audioData.audioId }}",
                            "{{ audioData.audioFilename }}",
                            "{{ audioData.karyaInfo.karyaFetchedAudioId }}",
                            "{{ audioData.accesscode }}",
                            `<audio controls controlsList="nodownload" onclick="playAudio(this)">
                                <source src="data:audio/x-wav;base64,{{ audioData.audio_data_in_bytes }}" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>`
                        ]);
                    {% endfor %}
                }
            {% endfor %}

            table.rows.add(rowsToAdd).draw();
        }

        // Show or hide the table based on the selected speaker ID
        $('#audioTable').toggle(!!selectedSpeakerId);
    }

    function deleteSelected() {
        var selectedData = [];
        var selectedRows = $('input[name="selectedRows"]:checked');

        selectedRows.each(function () {
            var $row = $(this).closest("tr");
            var data = {
                speakerId: $row.find("td:nth-child(2)").text(),
                audioId: this.value,
                audioFilename: $row.find("td:nth-child(4)").text(),
                karyaFetchedAudioIds: $row.find("td:nth-child(5)").text(),
                karyaacode: $row.find("td:nth-child(6)").text()
            };
            selectedData.push(data);
        });

        if (selectedData.length > 0 && confirm("Do you really want to delete the selected audio file(s)?")) {
            $.ajax({
                url: "{{ url_for('karya_bp.karyadeleteaudiobrowse') }}",
                type: 'POST',
                data: JSON.stringify(selectedData),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                    alert("Delete successful.");
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    alert("Delete failed.");
                }
            });
        } else if (selectedData.length === 0) {
            alert("No audio files selected.");
        }
    }
    
    function toggleSelectAll() {
        var isChecked = $('#selectAllCheckbox').is(':checked');
        $('input[name="selectedRows"]').each(function () {
            if ($(this).closest('tr').is(':visible')) {
                $(this).prop('checked', isChecked);
            }
        });
    }
</script>


{% endblock %}
