{% extends "karyav5links.html" %}

{% block title %}
  Karya Extension
{% endblock title %}

{% block styles %}
{{super()}}
  <link href="{{url_for('.static', filename='home_insert.css')}}" rel="stylesheet" />
{% endblock %}
  
{% block app_content %}
  {% if activeprojectname is defined %}
    <h4>
        Project Name: {{ activeprojectname }}
    </h4>
  {% endif %}

  <button type="button" id="karya-setup" class="btn btn-lg btn-info" 
    onclick="window.location.href='{{ url_for('karya_bp.karya_new_uploadacesscode') }}';">
    Upload Access Code
  </button>

  <button type="button" id="karya-setup" class="btn btn-lg btn-success" 
    onclick="window.location.href='{{ url_for('karya_bp.karya_new_manage_accesscode') }}';">
    Manage Access Code
  </button>

  <button type="button" id="karya-setup" class="btn btn-lg btn-danger" 
  onclick="window.location.href='{{ url_for('karya_bp.karyaaudiobrowse') }}';">
  Manage Audio
  </button>

  <button type="button" id="karya-setup" class="btn btn-lg btn-primary" 
  onclick="window.location.href='{{ url_for('karya_bp.karya_new_fetch_karya') }}';">
  Fetch Karya New
  </button>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='shareproject.js') }}"></script>
<script src="{{ url_for('.static', filename='shareprojectwith.js') }}"></script>
<script src="{{ url_for('.static', filename='assignkaryaaccesscode.js') }}"></script>
<script src="{{ url_for('.static', filename='home.js') }}"></script>
{% endblock %}
