<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Add/ Update User Details </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

</head>
      <body>
  

          
     

{% extends "links.html" %}
      
      
      
      {% block styles %}
      {{super()}}
      <link href="{{url_for('.static', filename='dictionaryview.css')}}" rel="stylesheet">
      {% endblock %}
      
      {% block app_content %}
      {% if projectName is defined %}
        <h4>
            Project Name : {{ projectName }}
      
        </h4><br>
      {% endif %}
      
      

      <script>    
          
                
          </script>
          

<h1><center><b>Question Form</b></center></h1>
<br><br><br><br>

<form action="{{ url_for('karya_bp.questionnairefrom') }}" method="POST" enctype="multipart/form-data"></form>

<div class="form-group">
    <label for="domain">Domain : </label><br>                           
    <select class="questionnairedomain" id="iddomain" name="domain" multiple="multiple" style="width:55%" required></select><br>
</div> 


<div class="form-group">
    <label for= "about"> About : </label><br>                        
    <textarea id="idabout" name="about" style="width:55%" required></textarea>
</div> 


<div class="form-group"> 
    <label for="lang">Language :</label><br>                           
    <select class="languages" id="idlangs" name="lang" multiple="multiple" style="width:55%" required></select><br>
 </div> 

 

<div class="form-group">
    <label for="script">Script :</label><br>                           
    <select class="transcriptionscript" id="idscript" name="script" multiple="multiple" style="width:55%" required></select><br>
</div> 



<div class="form-group">
    <label for="audio">Audio : </label><br>                           
      <p>
      <input type="radio" name="audio" value="yes">Yes</input>
      </p>
      <p>
      <input type="radio" name="audio" value="no">No</input>
      </p>     
</div> 



<div class="form-group">
    <label for="target"> Target : </label><br>                           
    <select class="target" id="idtarget" name="target" multiple="multiple" style="width:55%" required></select><br>
</div> 


<div class="form-group">
    <label for="em">Elicitation Method : </label><br>                           
    <select class="elicitationmethod" id="idem" name="em" multiple="multiple" style="width:55%" required></select><br>
</div> 



<div class="form-group">
    <label for="cf">Coustom Field : </label><br>                           
    <select class="cf" id="idcf" name="cf" multiple="multiple" style="width:55%" required></select><br>
</div> 


<div class="container Sensefield">
    <div class="row">
      <div class="col-md-3">
        <label for="Gloss Language">Add custom Field :</label>
        <p>
          <em>
          *This is custom field.
        </em>
        </p>
        <!-- <select class="glosslanguage" name="Gloss Language" multiple="multiple" style="width: 150%"></select> -->
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-3">
        <div class="form-group">
              <button class="btn btn-success" type="button" id="addGlossField"> 
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
              </button>
        </div>
      </div>
    </div>
  </div>  
  
  <input class="btn btn-lg btn-primary create" id="submit" type="submit" value="Submit" >
    
{% endblock %}
</body>

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='dictionaryview.js')}}"></script>
<script src="{{url_for('.static', filename='search.js')}}"></script>
<script src="{{url_for('.static', filename='sorttable.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeview.js')}}"></script>
<script src="{{url_for('.static', filename='lexemeedit.js')}}"></script>
<script src="{{url_for('.static', filename='editlexeme.js')}}"></script>
<script src="{{url_for('.static', filename='lexemedelete.js')}}"></script>
<script src="{{url_for('.static', filename='shareproject.js')}}"></script>
<script src="{{url_for('.static', filename='shareprojectwith.js')}}"></script>
<script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
<script src="{{url_for('.static', filename='newproject.js')}}"></script>
{% endblock %}
</html>
