<!DOCTYPE html>
<html>
<head>


<h1>LiFe</h1>
<form action="{{ url_for('karya_bp.uploadfile') }}" method="POST" enctype="multipart/form-data">

<!-- <h2>Fetch access code with metadata</h2>
    <a href="register_user.html">
      <button>Fetch access code</button>
    </a>
     -->
       
<p>Click on the "Choose File" button to upload a file of access code and metadata*:</p>
  <input type="file" id="accesscodefile" name="accesscodefile"><br>

  <input class="btn btn-lg btn-primary create" id="submit" type="submit" value="Submit" >
</form>
</head>
</html>
