{% extends "enternewsentenceslinks.html" %}

{% block title %}
  Enter New Sentences
{% endblock title %}


{% block styles %}
{{super()}}
  <link href="{{url_for('.static', filename='enternewsentences.css')}}" rel="stylesheet" />
  <link href="{{url_for('.static', filename='audiotranscription.css')}}" rel="stylesheet" />
  <link href="{{url_for('.static', filename='sidepanel.css')}}" rel="stylesheet" />
  <link href="{{url_for('.static', filename='addnewspeaker.css')}}" rel="stylesheet" />
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-sm-5">
      {% if shareinfo['sharemode']|int >= 4 %}
        <button type="button" id="deleteaudio" class="btn btn-danger" data-toggle="tooltip" title="Delete Audio">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      {% endif %}
      <!-- &nbsp;&nbsp; -->
    </div>
    <div class="col-sm-6">
      <button class="btn btn-info" type="button" id="previous" data-toggle="tooltip" title="Previous Audio" onclick="previousAudio()">
        <span class="previousaudio glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <!-- &nbsp; -->
      <button class="btn btn-info" type="button" id="next" data-toggle="tooltip" title="Next Audio" onclick="nextAudio()">
        <span class="nextaudio glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
      <!-- &nbsp; -->
      <button class="btn btn-warning" id="save" data-toggle="tooltip" title="Save Transcriptions">
        <span class="saveaudio glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
      </button>
      <!-- &nbsp;&nbsp; -->
    </div>
    <div class="col-sm-1">
      <span class="pull-right" style="font-size:30px; position:absolute; cursor:pointer" data-toggle="tooltip" title="Info" onclick="openAudioMetaData()">
        <i class="glyphicon glyphicon-info-sign"></i>
      </span>
    </div>
    <span class="pull-right" style="font-size:30px; position:absolute; right:10px;cursor:pointer" onclick="openNav()"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
    <div id="sidepanel"></div>
    <!-- <div class="col-sm-7 pull-right">
      <button type="button" id="progressreport" class="btn btn-lg btn-danger" data-toggle="modal"
        data-target="#myProgressReportModal">
          Progress Report
      </button>
      {% if 'downloadchecked' in shareinfo and shareinfo['downloadchecked'] == 'true' %}
        <button type="button" id="downloadtranscription" class="btn btn-lg btn-warning" data-toggle="modal"
          data-target="#myDownloadTranscriptionModal">
            Download
        </button>
      {% endif %}
      {% if shareinfo['sharemode']|int >= 3 %}
        <button type="button" id="addnewspeakertranscriptionid" class="btn btn-lg btn-info addnewspeaker"
          data-toggle="modal" data-target="#addNewSpeakerModal">
            Add New Source
        </button>
        <button type="button" id="uploadaudioid" class="btn btn-lg btn-primary uploadaudio" data-toggle="modal"
          data-target="#myUploadAudioModal">
            Upload Audio
        </button>
      {% endif %}
    </div> -->
  </div>
  <div class="row" id="audiometadata" style="display: none;">
    <br>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        {% if projectName is defined %}
          <h4>Project Name : {{ projectName }}</h4>
        {% endif %}
      </div>
      {% if commentstats is defined %}
        <div class="commentStats">
        </div>
      {% if commentstats[0] != 0 %}
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
            style="width:{{ commentstats[1]/commentstats[0]*100 }}%">
            Completed : {{ commentstats[1] }}
          </div>
          <div class="progress-bar progress-bar-danger" role="progressbar"
            style="width:{{ commentstats[2]/commentstats[0]*100 }}%">
            Remaining : {{ commentstats[2] }}
          </div>
        </div>
      {% endif %}
      {% endif %}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        {% if speakerids is defined %}
          <label for="speakeridsdropdown">Source: </label>
          <select class="custom-select custom-select-sm" id="speakeridsdropdown" style="width: 50%;">
            <option selected disabled>{{ activespeakerid }}</option>
            {% for d in speakerids %}
              {% if d != activespeakerid %}
                <option value="{{ d }}">{{ d }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}
      </div>
      <div class="col-md-6">
        <span class="commentIDs">
          <button type="button" id="uNAnnotated" class="btn btn-light" onclick="unAnnotated()">All Filename</button>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 lexemelang"></div>
      <div class="col-md-6 defaultfield" id="iddefaultfield"></div>
      <div class="col-md-3 classaudiometadata" id="idaudiometadata"></div>
      
    </div>
  </div>
  <p id="subtitleabsence" class="text-center text-info">&nbsp;</p>
  <p id="subtitle" class="text-center text-info">&nbsp;</p>
  <!-- <div id="wave-timeline"></div> -->
  <div id="waveform"></div>
  <div id="wave-spectrogram" style="display: none;"></div>
  <!-- <p id="regioninfo" class="text-danger">&nbsp;</p> -->
  <br>
  <div class="row">
    <div class="col-sm-3" id="sliderdivid">
      <input id="slider" data-action="zoom" type="range" min="0" max="100" value="0" style="width: 50%">
    </div>
    <div class=" col-sm-3">
      AUDIO:
      <button class="btn btn-danger" type="button" id="stopAudio" title="Stop Audio">
        <span class="audiostop glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button class="btn btn-primary" type="button" id="playPauseAudio" title="Play/Pause Audio">
        <span class="audioplaypause glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </div>
    <div class=" col-sm-6 pull-right">
      BOUNDARIES:
      <button type="button" class="btn btn-danger" data-action="delete-region-all" title="Delete all boundaries">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-warning" data-action="delete-region" title="Delete Boundary">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
      <button class="btn btn-primary" type="button" id="playPauseBoundary" title="Play/Pause boundary audio from cursor position">
        <span class="audioplaypauseboundary glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button class="btn btn-info" type="button" id="playPauseBoundaryStart" title="Play/Pause boundary audio from beginning">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                <span class="audioplaypauseboundarystart glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button type="button" id="myMakeBoundaryModalButton" class="btn btn-success makeboundary" data-toggle="modal"
        data-target="#myMakeBoundaryModal" title="Make Boundaries">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <!-- <button class="btn btn-info" type="button" id="drawBoundary">
        Draw Boundaries
      </button> -->
    </div>
  </div>
  <p id="regioninfo" class="text-danger">&nbsp;</p>
  <form id="boundaryForm" role="form" name="edit" style="display: none; margin: 30px 0;">
    <div class="form-group transcription1" id="transcription2"></div>
    <div class="form-group translationfield1" id="translationfield2"></div>

    <!-- <div class="row"> -->
      <!-- <div class="form-group col-sm-6"> -->
        <!-- <label for="start">Boundary Start Time</label> -->
        <input type="hidden" class="form-control" id="start" name="start" readonly required/>
      <!-- </div> -->

      <!-- <div class="form-group col-sm-6"> -->
        <!-- <label for="end">Boundary End Time</label> -->
        <input type="hidden" class="form-control" id="end" name="end" readonly required />
      <!-- </div> -->
    <!-- </div> -->
    
    <div class="form-group comments" id="transcription-comments"></div>

    <div class="row">
      <div class=" col-sm-3">
        
      </div>
      <div class=" col-sm-5 pull-right">
        <!-- <button type="submit" class="btn btn-success btn-lg pull-right" id="saveTempTranscription">Save This
          Boundary
        </button> -->
      </div>
    </div>
  </form>
  <!-- <br>
  <br>
  <br> -->
  <!-- <div id="waveformControl">
    <button class="btn btn-info btn-lg" type="button" id="previous" onclick="previousAudio()">
      <span class="previousaudio glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Previous Audio
    </button>
    <button class="btn btn-info pull-right btn-lg" type="button" id="next" onclick="nextAudio()">
      Next Audio
      <span class="nextaudio glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
  </div> -->
  <br>
  <div class="interlineargloss"></div>
  <div class="clear"></div>

  <!-- Progress Report Modal -->
  <div class="modal fade" id="myProgressReportModal" tabindex="-1" role="dialog"
    aria-labelledby="myProgressReportModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myProgressReportModalLabel">Project Name: {{ projectName }}</h4>
        </div>
        <div class="modal-body">
          <!-- <div class="col-xs-6"> -->
          <input id="myInput" class="form-control" type="text" placeholder="Search">
          <!-- </div> -->
          <br>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="progressreport"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add new Speaker Modal -->
  <div class="modal fade" id="addNewSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="addNewSpeakerModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addNewSpeakerModalLabel">Project Name: {{ projectName }}</h4>
        </div>
        <div class="modal-body">
          
          <br>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div id="addnewspeakerform"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Upload Audio Modal -->
  <div class="modal fade" id="myUploadAudioModal" tabindex="-1" role="dialog" aria-labelledby="myUploadAudioModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myUploadAudioModalLabel">Project Name: {{ projectName }}</h4>
        </div>
        <div class="modal-body">
          <form name="newaudioupload" action="/uploadaudiofiles" method="POST" enctype="multipart/form-data">
            <!-- <div class="col upload"> -->
              <!-- <strong>Audio Files from Source: </strong> -->
              <h4>Select File:</h4>
              <div class="input-group col-md-12 upload" id="speakeriduploaddropdown-divid">
              <label for="speakeriduploaddropdown">Audio Files for Source: </label>
              <select class="custom-select custom-select-sm" id="speakeriduploaddropdown" name="speakerId"
                style="width:30%" required>
                <!-- <option selected disabled></option> -->
                {% for d in addedspeakerids %}
                <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
              </select>
              </div>
              <div class="input-group col-md-6" id="audiobrowse-classid">
                <input type="file" id="audiofile" name="audiofile" required>
              </div>
              <!-- <br/>
              <div class="input-group col-md-12" id="uploadparameters-optimise-divid">
                <label>Optimise Uploaded Audio For: </label><br/>
                <input type="radio" id="uploadparameters-optimiseforflid" name="uploadparameters-optimisefor" value="True" checked>
                <label for="uploadparameters-optimiseforflid">Faster Loading</label>
                <input type="radio" id="uploadparameters-optimiseforwaveid" name="uploadparameters-optimisefor" value="False">
                <label for="uploadparameters-optimiseforwaveid">High-quality waveform</label>
                
              </div> -->
              
              <hr>

              <h4>Boundary Options:</h4>
              
              <div class="input-group col-md-4" id="uploadparameters-vad-divid">
              <input type="checkbox" id="uploadparameters-vadid" name="uploadparameters-vad">
              <label for="uploadparameters-vadid">Make Boundaries</label><br/>
              </div>  

              <div class="input-group col-md-8" id="uploadparameters-boundarypause-divid" style="display: none;" aria-disabled="true">              
              <label title="It defines the minimum value of pause at which a new boundary is made"
                for="uploadparameters-boundarypause">Boundary Pause Threshold (between 0.00001-10.0 seconds) </label><br /> Suggested Values: <i>For sentence: 0.3; For words: 0.01; For phones: 0.001</i><br/>
              
              <input type="number" name="boundaryPause" id="uploadparameters-boundarypauseid" min="0.00001" max="10.0" step="0.00001"
                  placeholder="Value between 0.00001 to 10.0" value="0.3" disabled>
              </div>
              
              <hr/>
              
              <h4>File Options:</h4>
              
              <div class="input-group col-md-8" id="uploadparameters-maxFileSeize-divid">
              <label title="It defines the maximum size of one audio file to be generated after splitting"
                for="uploadparameters-splitpausedropdown">Maximum File Duration (between 60-150 seconds): </label><br/>
              <input type="number" name="maxFileSize" id="uploadparameters-maxfilesizeid" min="60" max="150"
                placeholder="Value between 60 to 150" value="120"><br/><br/>            
              </div>
<!-- sliceOffsetValue -->
              <div class="input-group col-md-8" id="uploadparameters-filesplitthreshold-divid">
              <label for="uploadparameters-filesplitthresholdid">File Split Pause Threshold (between 0.1-5.0 seconds):</label><br>
              <input type="number" name="fileSplitThreshold" id="uploadparameters-filesplitthresholdid" min="0.1" max="5.0" step="0.1" value="0.9"
                placeholder="Value between 0.1 to 5.0">
              </div>

              <div class="input-group col-md-8" id="uploadparameters-sliceOffsetValue-divid">
                <label for="uploadparameters-sliceOffsetValueid">Overlap across Split Audios (between 0.01-10.0 seconds):</label><br>
                <input type="number" name="sliceOffsetValue" id="uploadparameters-sliceOffsetValueid" min="0.01" max="10.0"
                  step="0.01" value="0.1" placeholder="Value between 0.01 to 10.0">
              </div>
              <hr/>

              <div class="input-group" id="audioupload-divid">
              <input class="btn btn-primary uploadbtn" type="submit" value="Upload Audio File">
              </div>
            <!-- </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Download Transcription Modal -->
  <div class="modal fade" id="myDownloadTranscriptionModal" tabindex="-1" role="dialog"
    aria-labelledby="myDownloadTranscriptionModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myDownloadTranscriptionModalLabel">Project Name: {{ projectName }}</h4>
        </div>
        <div class="modal-body">

          <h4>Download:</h3>
            <div class="btn-group" role="group">
              <button type="b4tton" id="lifejson" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                LiFE JSON
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Latest Transcriptions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="praattexgrid"><a href="#">Praat Textgrid</a></li>
                <li id="csv"><a href="#">CSV</a></li>
                <li id="tsv"><a href="#">TSV</a></li>
                <li id="json"><a href="#">JSON</a></li>
                <li id="xlsx"><a href="#">XLSX</a></li>
                <li id="latex"><a href="#">LaTeX</a></li>
                <li id="html"><a href="#">HTML</a></li>
                <li id="markdown"><a href="#">Markdown</a></li>
              </ul>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                My Transcriptions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="mypraattexgrid"><a href="#">Praat Textgrid</a></li>
                <li id="mycsv"><a href="#">CSV</a></li>
                <li id="mytsv"><a href="#">TSV</a></li>
                <li id="myjson"><a href="#">JSON</a></li>
                <li id="myxlsx"><a href="#">XLSX</a></li>
                <li id="mylatex"><a href="#">LaTeX</a></li>
                <li id="myhtml"><a href="#">HTML</a></li>
                <li id="mymarkdown"><a href="#">Markdown</a></li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Make Boundary Modal -->
  <div class="modal fade" id="myMakeBoundaryModal" tabindex="-1" role="dialog" aria-labelledby="myMakeBoundaryModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myMakeBoundaryModalLabel">Project Name: {{ projectName }}</h4>
        </div>
        <div class="modal-body">
          <form name="makeboundary" action="/makeboundary" method="POST" enctype="multipart/form-data">
            <!-- <div class="col upload"> -->
            <!-- <strong>Audio Files from Source: </strong> -->
            <h4>Make Boundaries for this file </h4>
            <i><font color="red">It will overwrite any boundaries made earlier using this model</font></i>
            <div class="input-group col-md-12 upload" id="  ">
              <label for="speakeriduploaddropdown">Source: </label><br />
              <input class="col-md-6" type="text" id="makeboundaryspeakeriduploaddropdown" name="speakerId" value="" readonly>
              <!-- <select class="custom-select custom-select-sm" id="speakeriduploaddropdown" name="speakerId" -->
                <!-- style="width:30%" readonly> -->
                <!-- <option selected disabled></option> -->
                <!-- {% for d in addedspeakerids %}
                <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
              </select> -->
            </div>
            <br>
            <div class="input-group col-md-12" id="audiofilename-divid">
              <label for="audiofile">Filename: </label><br/>
              <input class="col-md-6" type="text" id="makeboundaryaudiofileid" name="audiofile" readonly>
            </div>
            <br>
            <div class="input-group col-md-12" id="audioduration-divid">
              <label for="makeboundaryaudiodurationid">Audio Duration: </label><br />
              <input class="col-md-6" type="text" id="makeboundaryaudiodurationid" name="audioduration" readonly>
            </div>
            <hr>
  
            <div class="input-group col-md-8" id="uploadparameters-boundarypause-divid" style="display: block;"
              aria-disabled="true">
              <label title="It defines the minimum value of pause at which a new boundary is made"
                for="uploadparameters-boundarypause">Boundary Pause Threshold (between 0.00001-10.0 seconds)
              </label><br /> Suggested Values: <i>For sentence: 0.3; For words: 0.01; For phones: 0.001</i><br />
  
              <input type="number" name="boundaryPause" id="uploadparameters-boundarypauseid" min="0.00001" max="10.0"
                step="0.00001" placeholder="Value between 0.00001 to 10.0" value="0.3" required><br/><br>
            </div>

            <div class="input-group col-md-4" id="overwrite-my-boundaries-divid">
              <input type="checkbox" id="overwrite-my-boundariesid" name="overwrite-my-boundaries">
              <label for="uploadparameters-vadid">Overwrite my Boundaries</label>
            </div>

            <!-- <div class="input-group col-md-4" id="createaudiojson-divid">
              <input type="checkbox" id="createaudiojsonid" name="createaudiojson">
              <label for="uploadparameters-vadid">Create Audio JSON (for faster loading - already created</label>
            </div> -->
  
            <hr>
            <div class="input-group" id="audioupload-divid">
              <input class="btn btn-primary uploadbtn" type="submit" value="Make Boundaries">
            </div>
            <!-- </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% for data in sdata %}
    {% if data['sentenceId'] is defined %}
      {% if data['interlineargloss'] is defined %}
        <p id='sentenceId'><strong>Sentence ID: </strong>{{ data['sentenceId'] }}</p>
        <input type="text" class="form-control" placeholder="{{ data['interlineargloss']['level_1'] }}"
          name="interlinearglosslevel_1" value="{{ data['interlineargloss']['level_1'] }}" disabled>
        <input type="text" class="form-control" placeholder="{{ data['interlineargloss']['level_2'] }}"
          name="interlinearglosslevel_2" value="{{ data['interlineargloss']['level_2'] }}" disabled>
        <input type="text" class="form-control" placeholder="{{ data['interlineargloss']['level_3'] }}"
          name="interlinearglosslevel_3" value="{{ data['interlineargloss']['level_3'] }}" disabled>
        <br>
        <button type="button" class="btn btn-primary " onclick="editSentenceBtn()">Edit Sentence</button>
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endblock %}

{% block scripts %}
{{super()}}
  <script src="{{url_for('.static', filename='sidepanel.js')}}"></script>
  <script type="text/javascript">createSidePanel({{ shareinfo | tojson | safe }});</script>
  <script src="{{url_for('.static', filename='enternewsentences.js')}}"></script>
  <script src="{{url_for('.static', filename='changeactivespeaker.js')}}"></script>
  <script src="{{url_for('.static', filename='progressreport.js')}}"></script>
  <script src="{{url_for('.static', filename='addnewspeaker.js')}}"></script>
  <script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
  <script src="{{url_for('.static', filename='search.js')}}"></script>
  <script src="{{url_for('.static', filename='sorttable.js')}}"></script>
  <script type="text/javascript">myFunction({{ newData | tojson | safe }});</script>
  <script src="{{url_for('.static', filename='audiotranscription.js')}}"></script>
  <script src="{{url_for('.static', filename='downloader/transcriptiondownload.js')}}"></script>
{% endblock %}