{% extends "links.html" %}

{% block title %}
Manage Project
{% endblock title %}

{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='home_insert.css')}}" rel="stylesheet" />
<style>
  .button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .button-container .btn {
    flex: 1;
    margin: 5px;
  }
</style>
{% endblock %}

{% block app_content %}
{% if activeprojectname is defined %}
<h4>
  Project Name : {{ activeprojectname }}
</h4>
{% endif %}

<div>

  <div id="uploadmanage">
    <br>

    <br><br>
    <div class="button-container">
      {% if shareinfo['sharemode']|int >= 3 %}
      <input class="btn btn-lg btn-success" type="button" value="Manage Speaker Metadata"
        onclick="window.location.href='{{url_for('managespeakermetadata')}}'; window">
      {% endif %}

      {% if shareinfo['sharemode']|int >= 3 %}
      <button type="button" class="btn btn-lg btn-danger" onclick="syncSpeakerMetadata();" disabled >Sync Speaker Details</button>
      {% endif %}

      {% if 'downloadchecked' in shareinfo and shareinfo['downloadchecked'] == 'true' %}
      <button type="button" class="btn btn-lg btn-warning"
        onclick="window.location.href='{{ url_for('downloadproject') }}';">Download Project</button>
      {% endif %}
      
      {% if shareinfo['sharemode']|int >= 3 %}
      <input class="btn btn-lg btn-success" type="button" value="Progress Report"
        onclick="window.location.href='{{url_for('progressReportAdmin')}}'; window">
      {% endif %}
    </div>
    <br>
    <hr>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="syncSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="syncSpeakerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <p id="modal-message">Speaker Details Synced</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
<script src="{{url_for('.static', filename='fetchaccesscodelist.js')}}"></script>

<script>
  function syncSpeakerMetadata() {
      // Make a request to the Flask route
      fetch("{{ url_for('syncspeakermetadata') }}")
          .then(response => {
              if (response.ok) {
                  // Display pop-up message if the request is successful
                  $("#modal-message").text("Speaker Details Synced");
                  $("#syncSpeakerModal").modal("show");
              } else {
                  // Handle errors if the request fails
                  $("#modal-message").text("Failed to sync speaker details");
                  $("#syncSpeakerModal").modal("show");
              }
          })
          .catch(error => {
              console.error('Error:', error);
              $("#modal-message").text("Failed to sync speaker details");
              $("#syncSpeakerModal").modal("show");
          });
  }
</script>
{% endblock %}
