<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Manage Users </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
        rel="stylesheet">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
    
        <link href="{{url_for('.static', filename='addnewspeaker.css')}}" rel="stylesheet" />




</head>
{% extends "links.html" %}

{% block styles %}
{{super()}}
{% endblock %}

{% block app_content %}
{% if activeprojectname is defined %}
<h4>
    Project Name : {{ activeprojectname }}
</h4>
{% endif %}


<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" id="addnewspeakermanagepageid" class="btn btn-lg btn-primary addnewspeaker"
            data-toggle="modal" data-target="#addNewSpeakerModal" onclick="getMetadataForm(this,{submitRoute: '/addnewspeakerdetails', includeFieldMetadata: true, includeInternetMetadata: true})">
            Add New Source
        </button>
    </div>

    <!-- View Field Speaker button -->
    <!-- Modal -->
    <div>
        <div class="modal fade" id="metadatadetailsmodal" tabindex="-1" role="dialog"
            aria-labelledby="metadatadetailsmodalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!-- <div id="fieldspeakerdetails" style="display: none;"> -->

                    <form role="form" method="post" action="{{url_for('editsourcemetadata')}}">
                        <button class="pull-right btn-danger" type="button" id="editbutton">Edit</button><br />

                        <div class="modal-header">
                            <h4 class="modal-title" id="speakerdetailsmodalLabel">Metadata Details</h4>
                        </div>

                        <input type="hidden" name="lifespeakerid" id="lifespeakerid" value="" />
                        <div class="modal-body" id="idmetadataformdisplaydiv"></div>
                        
                        <div id="formsubmit" class="form-group modal-footer">
                            <button type="button" id="closebutton" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="metadatasubmitid" class="btn btn-primary" value="Edit Metadata" disabled="disabled"> <br><br>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    
    <div class="panel-body classMetaTable" id="idMetaTable">
    </div>

    <!-- Add new Speaker Modal -->
    <div class="modal fade modal-dialog-scrollable" id="addNewSpeakerModal" tabindex="-1" role="dialog"
        aria-labelledby="addNewSpeakerModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addNewSpeakerModalLabel">Project Name: {{ activeprojectname }}</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="col-xs-6"> -->
                    <!-- <input id="myInput" class="form-control" type="text" placeholder="Search"> -->
                    <!-- </div> -->
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div id="addnewspeakerform"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block scripts %}
    {{super()}}
    <script src="{{url_for('.static', filename='addnewspeaker.js')}}"></script>
    <script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
    <script src="{{url_for('.static', filename='search.js')}}"></script>
    <script src="{{url_for('.static', filename='sorttable.js')}}"></script>
    <script src="{{url_for('.static', filename='manageSpeakers.js')}}"></script>
    <script
        type="text/javascript">generateMetadataTable({{ speakerData | tojson | safe }}, {{ tableHeaders | tojson | safe}}, {{ count | tojson | safe}});</script>


    {% endblock %}

</html>