
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
life_ques
{% endblock title %}

{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='home.css')}}" rel="stylesheet" />
{% endblock %}
  
{% block app_content %}
<h3>Create Form for your Project</h3>
  <hr>

<form action="{{ url_for('life_ques.questionnaireform') }}" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="idprojectname">Project Name</label>
    <input type="text" class="form-control" id="idprojectname" placeholder="Project Name" name="Project Name" style="width: 55%" required>
  </div>

  <div class="form-group">
    <label for= "idabout"> About the Questionnaire </label><br>                        
    <textarea id="idabout" name="About the Questionnaire" style="width:55%" required></textarea>
</div> 




  
  <div class="row ">
    <div class="col-md-3">
      <label for="Promp Languages and Script">Prompt Language(s) and Scripts :</label>
      <p>
        <em>
        *Select language(s) and their script(s) of the prompts included in the Questionnaire
      </em>
      </p>
      <!-- <select class="promptlanguage" name="Prompt Language" multiple="multiple" style="width: 150%" required></select>
      <select class="promptlangcript" name="Prompt Lang Script" multiple="multiple" style="width: 150%" required></select> -->
      
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-3">
      <div class="form-group">
            <button class="btn btn-success" type="button" id="addpromptlangscripts"> 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </button>
      </div>
    </div>
  </div>
  <div class="container Sensefield"></div>





<!-- <div class="form-group"> 
    <label for="idlangs">Prompt Language(s) :</label><br>                           
    <select class="languages" id="idlangs" name="Prompt Description in " multiple="multiple" style="width:55%" required></select><br>
 </div> 

 

<div class="form-group">
    <label for="idscript">Script :</label><br>                           
    <select class="transcriptionscript" id="idscript" name="Script" multiple="multiple" style="width:55%" required></select><br>
</div>  -->



<!-- <div class="form-group">
    <label for="idaudio">Audio : </label><br>                           
      <p>
      <input type="radio" id = idaudio name="Audio" value="yes">Yes</input>
      <input type="radio" id =idaudio name="Audio" value="no">No</input>
      </p>     
</div>  -->

<div class="form-group">
  <label for="idprompttype">Prompt Type</label><br>                           
  <select class="prompttype" id="idprompttype" name="Prompt Type" multiple="multiple" style="width:55%" required></select><br>
  <input type="checkbox" id="idincludetranscription" name="Include Transcription">
  <label for="includetranscription">Include Transcription</label><br>
  <input type="checkbox" id="idincludeinstruction" name="Include Instruction">
  <label for="includeinstruction">Include Instruction</label><br>
</div> 


<div class="form-group">
  <label for="iddomain">Domain : </label><br>                           
  <select class="questionnairedomain" id="iddomain" name="Domain" multiple="multiple" style="width:55%" required></select><br>
</div> 


<div class="form-group">
    <label for="idem">Elicitation Method : </label><br>                           
    <select class="elicitationmethod" id="idem" name="Elicitation Method" multiple="multiple" style="width:55%" required></select><br>
</div> 

<div class="form-group">
  <label for="idtarget"> Target : </label><br>                           
  <select class="target" id="idtarget" name="Target" multiple="multiple" style="width:55%" required></select><br>
</div> 


<!-- <div class="form-group">
  <label for="cf">Coustom Field : </label><br>                           
  <select class="cf" id="idcf" name="cf" multiple="multiple" style="width:55%" required></select><br>
</div>  -->
  


<div class="row">
  <div class="col-md-3">
    <p><strong>Add Custom Fields for Lexicon</strong></p>
  </div>
</div>
<div class="row"> 
  <div class="col-md-3">
    <div class="form-group">
      <button class="btn btn-success" type="button" id="quesaddCustomField"> 
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      </button>
    </div>
  </div>
</div>
<div class="container customfield"></div>
  
  <input class="btn btn-lg btn-primary create" id="submit" type="submit" value="Submit" >
</form> 
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='speaker_select2_dropdown.js')}}"></script>
<script src="{{url_for('.static', filename='newquestionnaireform.js')}}"></script>
{% endblock %}
</html>