{% extends "base.html" %}

{% block title %}
  Data Validation
{% endblock title %}

{% block styles %}
{{super()}}
  <link href="{{url_for('.static', filename='lifedatavalidation.css')}}" rel="stylesheet" />
{% endblock %}

{% block app_content %}
  <div class="row" id="projname">
    <div class="col-sm-6" >
      {% if projectName is defined %}
        <h4>File Name : {{ projectName }}</h4>
      {% endif %}
      {% if proj_data is defined %}
        <div class="commentStats"></div>
        {% if proj_data["totalComments"] != 0 %}
          <div class="progress" id="progressbardiv">
            <div class="progress-bar progress-bar-success" role="progressbar"
              style="width:{{ proj_data['annotatedComments']/proj_data['totalComments']*100 }}%">
              Completed : {{ proj_data["annotatedComments"] }}[{{ proj_data['annotatedComments']/proj_data['totalComments']*100 }}%]
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar"
              style="width:{{ proj_data['remainingComments']/proj_data['totalComments']*100 }}%">
              Remaining : {{ proj_data['remainingComments'] }}[{{ proj_data['remainingComments']/proj_data['totalComments']*100 }}%]
            </div>
          </div>
          {%else%}
        {% endif %}
      {% endif %}
    </div>
  <hr>
  <div class="container textdata"></div>
  <br>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='lifedatavalidation.js')}}"></script>
  <script src="{{url_for('.static', filename='validaterecordings.js')}}"></script>
  {% if proj_data is defined %}
    <!-- <script type="text/javascript">myFunction({{ proj_data | tojson | safe }});</script> -->
    <script type="text/javascript">recordingsValidation({{ proj_data | tojson | safe }});</script>
  {% endif %}
{% endblock %}