{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
LiFe Data Home
{% endblock title %}

{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='newdataform.css')}}" rel="stylesheet" />
<link href="{{url_for('.static', filename='lifedatahome.css')}}" rel="stylesheet" />
<link href="{{url_for('easyAnno.static', filename='easyannohome.css')}}" rel="stylesheet" />
{% endblock %}


{% block app_content %}
  <h2>LiFE - Data</h2>
  <hr>
  <div id="databtn">
    <button type="button" id="createnewdatabtn" class="btn btn-lg btn-success">Create New Data Project</button>
    <button type="button" id="derivefromdatabtn" class="btn btn-lg btn-primary pull-right">Derived Data Project</button>
    <br/>
    <br/>
    <hr/>
  </div>
  <div id="datasubbtn">
    <div id="createnewdatasubbtn" style="display: none;">
      <a href="#dataform">
      <button type="button" id="datamanualentrybtn" class="btn btn-lg btn-primary" >Manual Entry</button>
      </a>
    </div>
    <div id="derivefromdatasubbtn" style="display: none;">
      <div class="col-md-6">
        <select name="Derived From" id="derivefromdataselect" style="width: 100%"></select>
        <br>
        <br>
        <div id="derivefromdataform"></div>
      </div>
    </div>
    <br>
    <hr>
  </div>
  <div id="dataform"  style="display: none;">
    <br>
    <h3>Create Form for your Project</h3>
    <hr>
  
    <form id="newdataform" action="{{ url_for('lifedata.newdataform') }}" method="POST" enctype="multipart/form-data">
      <div id="beforefield" class="form-group"></div>
      <div class="form-group">
        <label for="idprojecttype">Project Type</label><br>
        <select class="dataprojecttype" id="idprojecttype" name="projectType" style="width:55%" required></select><br>
      </div>
      <div class="form-group">
        <label for="idprojectname">Project Name</label>
        <input type="text" class="form-control" id="idprojectname" placeholder="Project Name" name="projectname" style="width: 55%" required>
      </div>

      <div class="form-group">
        <label for= "idabout">About the Project</label><br>
        <textarea id="idabout" name="aboutproject" style="width:55%" required></textarea>
      </div>

      <div id="transcriptionstypeproject" style="display: none;">
        <div class="form-group" id="datasentencelanguage">
          <label for="iddatasentencelanguage">Audio Language</label><br>
          <select class="datasentencelanguageclass" id="iddatasentencelanguage" name="Sentence Language" style="width: 55%" required></select>
        </div>  

        <div class="form-group"> 
          <label for="iddatatranscriptionscript">Transcription Scripts</label><br>
          <select class="datatranscriptionscriptclass" id="iddatatranscriptionscript" name="Transcription Script" multiple="multiple" style="width: 55%" required></select>
        </div>

        <div class="translationlanguage">
          <div class="form-group">
            <label for="iddatatranslationlanguage">Add Languages and Scripts for Sentence Translation</label>
            <!-- <p style="width: 55%">
              <em>
              *English will be automatically added to the sentence translation language.
              If you want to use any sentence translation language in addition to English
              then please select from the following list else leave it blank.
            </em>
            </p> -->
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="button" id="addTranslationLanguageField"> 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </button>
          </div>
        </div>  

        <div class="interlinearglossfield">
          <div class="form-group">
            <label for="idinterlinearglossfield">Add Languages and Scripts for Interlinear Gloss</label>
            <!-- <p><strong></strong></p>
            <p style="width: 55%">
              <em>
              *English will be automatically added.
            </em>
            </p> -->
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="button" id="addInterlinearGlossField"> 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </button>
          </div>
        </div>
      </div>

      <div id="recordingstypeproject" style="display: none;">
        <div class="form-group" id="datasentencelanguage">
          <label for="idrecordingsdatasentencelanguage">Audio Language</label><br>
          <select class="recordingssentencelanguageclass" id="idrecordingsdatasentencelanguage" name="Sentence Language" style="width: 55%" required></select>
        </div> </div>

      <div id="validationtypeproject" style="display: none;">
        <div class="col upload">
          <label class="btn btn-danger">
            Select ZIP File <input type="file" id="tagsetZipFile" name="tagsetZipFile" accept="application/zip" hidden>
          </label>
          <input class="btn btn-primary" id="validationzipfilesubmit" type="button" value="Upload" onclick="uploadValidatioZipFile(this);" data-toggle="modal">
          <input class="btn btn-primary" id="validationtagsetmappingedit" type="button" value="Edit Mapping" onclick="editValidatioTagsetMapping(this);" data-toggle="modal" data-target="#validationTagsetMappingModal" hidden>
          <p id="displayZipFileName"></p>

          <div id="validationtagsetmapping" style="display: none;"></div>

          <!-- <label for="fileType">File Type:&nbsp;&nbsp;</label>
          <select name="fileType" id="fileType" style="width: 30%">
          </select> -->
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-3">
          <p><strong>Add Custom Fields</strong></p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-3">
          <div class="form-group">
            <button class="btn btn-success" type="button" id="dataaddCustomField"> 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </button>
          </div>
        </div>
      </div>
      <div class="datacustomfield"></div> -->
      <br>
      <input class="btn btn-lg btn-primary create" id="dataformsubmit" type="submit" value="Create Form">
    </form>
    <div id="addModal"></div>
  </div>
    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='lifedatahome.js')}}"></script>
<script src="{{url_for('.static', filename='newdataform.js')}}"></script>
{% endblock %}
