{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Annotation
{% endblock title %}

{% block styles %}
{{super()}}
<link href="{{url_for('.static', filename='annotation.css')}}" rel="stylesheet" />
{% endblock %}

{% block app_content %}

<div class="row" id="projname">
    <div class="col-sm-6" >
      {% if projectName is defined %}
      <h4>Project Name : {{ projectName }}</h4>
      {% endif %}
    <!-- </div>
    <div class="col-sm-6"> -->
      {% if proj_data is defined %}
      <div class="commentStats">
        
      </div>
      {% if proj_data["totalComments"] != 0 %}
      <div class="progress" id="progressbardiv">

        <div class="progress-bar progress-bar-success" role="progressbar"
          style="width:{{ proj_data['annotatedComments']/proj_data['totalComments']*100 }}%">
          Completed : {{ proj_data["annotatedComments"] }}[{{ proj_data['annotatedComments']/proj_data['totalComments']*100 }}%]
        </div>
        
        <div class="progress-bar progress-bar-danger" role="progressbar"
          style="width:{{ proj_data['remainingComments']/proj_data['totalComments']*100 }}%">
          Remaining : {{ proj_data['remainingComments'] }}[{{ proj_data['remainingComments']/proj_data['totalComments']*100 }}%]
        </div>
      </div>
      {%else%}
      
      {% endif %}
      {% endif %}
    </div>
<hr>
<div class="container textdata"></div>
<br>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='annotation.js')}}"></script>
{% if proj_data is defined %}
    <script type="text/javascript">createAnnotationInterface({{ proj_data | tojson | safe }});</script>
{% endif %}
{% endblock %}